{% extends 'base.html' %} 
{% block title %}Detail{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-4">
  <div class="col-lg-4 col-md-5 col-11 d-flex align-items-center">
    <img alt=""  class="card-img-top " src="{{ makanan.gambar.url }}" />
  </div>
  <div class="col-lg-7 col-md-6 col-11 ms-lg-4 ms-md-3 ms-0">
    <div class="mt-4">
      <h1 class=" fw-bold "> {{ makanan.nama }} </h1>
      <h5 class="opacity-75">{{ makanan.kantin }}</h5>
      

    </div>
    <div class="mt-4">
        <p class="fs-5 mb-0">Kantin : {{ makanan.kantin }}</p>
        <p class="fs-5 mb-0">Stok : {{ makanan.stok }} </p>
        <p class="fs-5 mb-0">Status : <span style="color: green;">     
            {% if makanan.tersedia == '1' %}
                Tersedia
            {% else %}
                Tidak Tersedia
            {% endif %}
        </span>
        </p>
        <div class="mt-2">

        <h5>Harga : Rp. {{ makanan.harga }}</h5>
        <div class="text-lg-end text-md-end text-center mt-4">
             <a class="fs-5 text-decoration-none" href="#" onclick="history.back()"><i class="bi bi-caret-left"></i> Back</a>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
